:not(pre) > code {
	background: rgba(0, 0, 0, 0.1) !important;
	color: #232323 !important;
	padding: 4px 8px !important;
	border-radius: 2px !important;
	text-shadow: none !important;
}

h1::before {
	content: '# ';
	opacity: 0.5;
	margin-left: -42px;
}