body {
  color: white;
  background: #232323;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  border: none;
  margin: 1em 0;
  padding: 0;
  color: rgba(135, 165, 255, 1);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  opacity: 0.5;
}

h1::before {
  content: '# ';
}
h2::before {
  content: '## ';
}
h3::before {
  content: '### ';
}
h4::before {
  content: '#### ';
}
h5::before {
  content: '##### ';
}
h6::before {
  content: '###### ';
}

blockquote {
  margin: 1em 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
  border-left: 4px solid rgba(135, 165, 255, 1);
  border-radius: 4px;
}

table {
  margin: 1em 0;
}

table > thead > tr > th {
  background: rgba(135, 165, 255, 1);
  border: none;
  color: #232323;
  border-left: 1px solid #232323;
}

table > thead > tr > th:first-child {
  border-left: none;
}

a {
  color: rgba(105, 135, 225, 1);
}
