:root {
  /* Fonts */
  --fonts: "more_perfect_dos_vgaregular", monospace;
  --primary-100: #e9eff5;
  --primary-200: #8db2d5;
  --primary-300: #3283d4;
  --primary-400: #13487a;
  --primary-500: #03284d;
  --neutral-100: #ffffff;
  --neutral-200: #dadada;
  --neutral-300: #898989;
  --neutral-400: #323232;
  --neutral-500: #0b0b09;
}

body {
  margin: 0;
  font-family: var(--fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16pt;
  color: var(--neutral-100);
  background: var(--neutral-500);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: inherit;
}

p {
  padding: 0 0 1em;
  margin: 0;
  filter: blur(0.5px);
}

* {
  line-height: 1.6;
}

a {
  color: var(--primary-300);
  cursor: pointer;
}

a:hover {
  color: var(--primary-400);
}

.overlay {
  background: repeating-linear-gradient(
    transparent,
    transparent 3px,
    #fff 3px,
    #fff 4px
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  filter: blur(1px);
  z-index: -1;
}

.main {
  padding: 1em;
  max-width: 800px;
}

.shell {
  color: var(--neutral-300);
}

.tabbed {
  margin-left: 3em;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s 1s infinite;
}
