@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&family=Roboto&display=swap");

:root {
  /* Fonts */
  --fonts: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, "Nimbus Sans L", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  --header-fonts: Poppins, sans-serif;
  --primary-100: #e9eff5;
  --primary-200: #8db2d5;
  --primary-300: #3283d4;
  --primary-400: #13487a;
  --primary-500: #03284d;
  --neutral-100: #ffffff;
  --neutral-200: #dadada;
  --neutral-300: #898989;
  --neutral-400: #323232;
  --neutral-500: #1b1b19;
}

body {
  margin: 0;
  font-family: var(--fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16pt;
  color: var(--neutral-500);
  background: var(--neutral-100);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--header-fonts);
  font-weight: 700;
  color: var(--neutral-400);
}

p {
  line-height: 1.5;
}

a {
  color: var(--primary-300);
  cursor: pointer;
}

a:hover {
  color: var(--primary-400);
}

.main {
  max-width: 840px;
  margin: 0 auto;
  padding: 1em;
}

.main > .header {
  display: flex;
}

.main > .header > .logo {
  width: 6em;
  height: 6em;
  box-shadow: #00000044 2px 4px 8px;
}

.main > .header > .text {
  flex: 1;
}

.content {
  opacity: 0.9;
  margin: 1em 0;
}

.footer {
  text-align: right;
}
