body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 300;
	font-size: 21px;
	margin: 0;
	padding: 0;
	color: #232323;
}

a {
	text-decoration: none;
	color: cornflowerblue;
}

a:hover {
	opacity: 0.6;
	transition: .5s;
}

/**************************************/
/* ANIMATIONS                         */
/**************************************/

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

/**************************************/
/* HEADER                             */
/**************************************/

.header {
	width: calc(100% - 1em);
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	align-items: center;
	padding: 0 0.5em;
	height: 2.5em;
}

.header > .logo {
	flex: 1;
	font-size: 1.5em;
}

.header > .logo > a {
	color: #232323;
	font-weight: bold;
}

.header > .nav {
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 0 1em;
	font-weight: normal;
}

.header > .nav:hover {
	opacity: 1;
}

.rainbowContainer {
	width: 100%;
	position: relative;
	overflow-x: hidden;
	height: 4px;
}

.rainbowContainer > .rainbow {
	height: 4px;
	background: linear-gradient(90deg, lightblue, lightcoral, lightgoldenrodyellow, lightgreen, lightpink, lightblue, lightcoral, lightgoldenrodyellow, lightgreen, lightpink, lightblue);
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	animation: marquee 7s linear 0s infinite;
}

/**************************************/
/* MAIN                               */
/**************************************/

.content {
	padding: 0.5em;
	margin: 0 auto;
	max-width: 1200px;
	line-height: 1.6;
}
