<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ .Title }} &middot; Steven Laidlaw</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}stylesheets/site.css" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}stylesheets/syntax.css" />
  </head>
  <body>
    <div id="wrapper">
      <header class="site-header">
        <div class="container">
          <div class="site-title-wrapper">
            {{ with .Site.Params.logo }}
            <a class="site-logo" href="{{ .Site.BaseURL }}">
              <img src="{{ . }}" alt="{{ .Title }}" />
            </a>
            {{ else }}
            <h1 class="site-title">
              <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </h1>
            {{ end }} {{ if .Site.Params.rss }}
            <a
              class="button-square"
              href="{{ .Site.BaseURL }}index.xml"
              aria-label="RSS"
              ><i class="fa fa-rss" aria-hidden="true"></i
            ></a>
            {{ end }} {{ with .Site.Params.twitter }}
            <a
              class="button-square button-social hint--top"
              data-hint="Twitter"
              aria-label="Twitter"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.facebook }}
            <a
              class="button-square button-social hint--top"
              data-hint="Facebook"
              aria-label="Facebook"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.gitlab }}
            <a
              class="button-square button-social hint--top"
              data-hint="Gitlab"
              aria-label="Gitlab"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-gitlab" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.github }}
            <a
              class="button-square button-social hint--top"
              data-hint="Github"
              aria-label="Github"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.stackoverflow }}
            <a
              class="button-square button-social hint--top"
              data-hint="Stack Overflow"
              aria-label="Stack Overflow"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.linkedin }}
            <a
              class="button-square button-social hint--top"
              data-hint="LinkedIn"
              aria-label="LinkedIn"
              href="{{ . }}"
              rel="me"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            {{ end }} {{ with .Site.Params.email }}
            <a
              class="button-square button-social hint--top"
              data-hint="Email"
              aria-label="Send an Email"
              href="mailto:{{ . }}"
            >
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            {{ end }}
          </div>

          <ul class="site-nav">
            {{ partial "navigation.html" . }}
          </ul>
        </div>
      </header>

      <div id="container">
