@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }

  .gradient-border {
    --angle: 45deg;
    border-image: linear-gradient(
        var(--angle),
        theme("colors.pink.300"),
        theme("colors.sky.400")
      )
      1;
  }

  .logo-mask {
    mask: url(/assets/images/logo.svg) 0 0/100% 100%;
  }
}
