<div class="h-full w-full flex justify-center items-center">
  <div class="gradient-border border-[16px] animate-gradBorder shadow-even shadow-pink-300 bg-no-repeat bg-top bg-contain">
    <div class="p-20">
      <a href="https://gh.io/sl">
        <img src="/assets/images/logo.svg" class="h-64 opacity-70" />
      </a>
    </div>
  </div>
</div>
