<div class="
  w-full max-w-[500px] m-auto gradient-border border-[16px] animate-gradBorder shadow-even shadow-pink-300
  lg:h-full lg:max-w-full lg:flex lg:border-none lg:shadow-none
">
  <div class="flex-1 flex justify-center items-center">
    <img class="w-full max-w-[500px] lg:gradient-border lg:border-[16px] lg:animate-gradBorder lg:shadow-even lg:shadow-pink-300" src="/assets/images/releases/{{slug}}.jpg" />
  </div>

  <div class="w-full lg:w-[500px] bg-black bg-opacity-50">
    <div class="text-center py-8 bg-black bg-opacity-50 border-b border-white border-opacity-20">
      <div class="mb-2 text-2xl">Steven Laidlaw - {{title}}</div>
      <div class="text-sm">Listen now on your preferred service</div>
    </div>

    {{#each links}}
    <div class="flex justify-between items-center p-6 w-full border-b border-white border-opacity-20">
      <img class="h-10" src="/assets/images/services/{{slug}}.svg" />
      <a class="w-32 border border-white border-opacity-20 bg-white bg-opacity-5 hover:bg-opacity-20 p-3 rounded-lg flex items-center justify-center" title="Play" href="{{url}}" target="_blank" rel="noopener">
        Play
      </a>
    </div>
    {{/each}}
  </div>
</div>