<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/stylesheets/blog.css" />

  <title>{{title}} | Steven Laidlaw</title>
</head>

<body>
  <div class="blog">
    {{{content}}}
  </div>
</body>

</html>